{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Enter new password{% endblock title %}

{% block content %}
    <div class="container">
        <div class="col-6">
            <h1>Set a new password</h1>                        
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <input type="submit" class="btn btn-success" value="Change my password">
            </form>
        </div>
    </div>
{% endblock content %}