{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
    <div class="container">
        <div class="col-6">
            <h1>Password Change</h1>
            <p>Please enter your old password, for security's sake, and then enter
                your new password twice so we can verify you typed it in correctly.
            </p>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <input type="submit" value="Change my password" class="btn btn-success">
            </form>
        </div>
    </div>
{% endblock content %}