{% extends 'base.html' %}

{% block content %}

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Blog</h2>
  
            <ol>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li>Delete post</li>
            </ol>
          </div>
  
        </div>
      </section><!-- End Blog Section -->
  
      <!-- ======= Blog Single Section ======= -->
      <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-8 entries">
  
              <form method="post">
                {% csrf_token %}                
                <p>Are you sure you want to delete <strong>"{{ post.title }}"</strong>?</p>
                <button type="submit" class="btn btn-success">Yes</button>
              </form>
  
            </div><!-- End blog entries list -->            
  
          </div>
  
        </div>
      </section><!-- End Blog Single Section -->

{% endblock content %}